* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    text-decoration: none;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}


/*general style*/

html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background: rgba(0, 0, 0, 0) url("/image/jerome.jpg") no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    background-color: #4CAF50;
    color: #D7DEE0;
    padding: 6px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-family: 'IM Fell English', serif;
    display: inline-block;
}


/*header style*/

header {
    text-align: left;
    font-size: 35px;
    line-height: 80px;
    height: 80px;
    background: #0a2d1b;
    color: #D7DEE0;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'IM Fell English', serif;
    /*    set animation
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;*/
}

header h1 {
    display: inline-block;
    width: auto;
}

header form {
    display: inline-block;
    width: auto;
    float: right;
    padding-top: 15px;
    line-height: 40px;
    font-size: 20px;
}

header input {
    padding: 10px;
    font-size: 15px;
    width: 120px;
    border-radius: 10px;
}

header button {
    padding: 10px;
    font-size: 15px;
    width: 60px;
    border-radius: 10px;
}
header .favoritesContainer{
    position: absolute;
    top:10px;
    right: 10px;
    z-index: 1000;
    text-align: left;
    width: 230px;
    margin: 0;
    padding: 15px;
    border-radius: 15px;
    display: block;
    font-family: 'IM Fell English', serif;
    background-image: url(/image/transparent.jpg);
    color: white;
}

header .favoritesContainer .favoritesContainerColum {
    display: inline-block;
    width: 40px;
}
header .favoritesContainer .favoritesContainerAuthor {
    width: 135px;
}

header .favoritesContainer h2 {
    font-size: 20px; 
    line-height: 18px;
    font-weight: bold:
}

header .favoritesContainer h2 .clearFavoritesButton {
    float:right;
    background-color: transparent !important;
    border: none;
    cursor: pointer;
    font-family: Roboto , serif;
    display: block;
    width:auto;
    margin: 0;
    padding: 0;
}

header .favoritesContainer h2 .clearFavoritesButton img{
    width: 20px;
}

header .favoritesContainer ul {
    list-style: none;
}

header .favoritesContainer li {
    font-size: 12px;
    line-height: 12px;
}

header .favoritesContainer li .results-icon {
    width: 30px;
    margin-right: 1rem;
}


/*content styles */

section {
    color: #D7DEE0;
    text-align: center;

}

.intro-text {
    text-align: left;
    text-align: justify;
    width: 40%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 15px;
    display: block;
    font-family: 'IM Fell English', serif;
    background-color: white;
    color: black;
}

.intro-text #search-form {
    margin-top: 1rem;
    text-align: center;
}

.intro-text #search-form .input-placeholder #query {
    font-family: 'IM Fell English', serif;
    background-color: #c1c1c1;
    width: 100%;
}

.intro-text #search-form .myButton {
    margin-top: 1rem;
    padding: 10px;
    font-size: 15px;
    width: 50%;
    border-radius: 10px;
}

.container .output {
    width: 80%;
    margin: 0 auto;
}

.container .output .js-author-results,
.container .output .js-book-results {
    width: 48%;
    vertical-align: top;
    margin: 0.5rem 0.5%;
    display: inline-block;
    font-family: Roboto, serif;
    overflow-y: auto;
    max-height: 700px;
}

.container .output .js-author-results li,
.container .output .js-book-results li {
    text-align: left;
    text-align: justify;
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 15px;
    display: block;
    font-family: 'IM Fell English', serif;
    background-color: white;
    color: black;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.container .output .js-author-results li h2,
.container .output .js-book-results li h2 {
    font-size: 2rem;
    display: inline-block;
    vertical-align: middle;
    font-family: Roboto, serif;
}

.container .output .js-author-results li h2 .results-icon,
.container .output .js-book-results li h2 .results-icon {
    width: 30px;
    margin-right: 1rem;
}

.container .output .js-author-results li .favorites,
.container .output .js-book-results li .favorites {
    position: absolute;
    right: 10px;
    top:10px;
    float:right;
}

.container .output .js-author-results li .favorites .addToFavoritesButton,
.container .output .js-book-results li .favorites .addToFavoritesButton {
    background-color: transparent !important;
    border: none;
    cursor: pointer;
    font-family: 'IM Fell English', serif;
    display: block;
    width:auto;
}


.container .output .js-author-results li .favorites .add-favourite-icon,
.container .output .js-book-results li .favorites .add-favourite-icon {
    width: 25px;
    margin-right: 1rem;
}


